@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script:wght@400;700&family=Sigmar&family=Source+Code+Pro:wght@200&family=Tilt+Prism&family=Ubuntu:wght@700&display=swap');
section{
    background-image: url("bgi-1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 700px;
    margin-top: 0px;
}
.navbar.nav-cust{
    background-color: #6E6E6E;
    color: black;
}
.nav-link{
    margin: 5px;
}
.intro-div{
    position: absolute;
    font-size: 40px;
    top: 300px;
    left: 600px;
    padding: 20px;
    color: rgb(243, 239, 239);
    font-family: 'Oleo Script', cursive;
}
.name{
    color: #D21312;
    padding: 10px;
    font-size: 50px;
}
.web-devoloper{
    color: yellow;
    padding: 10px;
    font-size:40px ;
}
.nav-cust .navbar-nav .nav-link:hover{
    background-color:#BAFF39;
    color: #E86A33;
}
a.about-me-text{
    color: black;
}
a.about-me-text:hover{
    text-decoration: none;
    color: #ffff;
}
a.navbar-brand{
    color: white;
}
.nav-cust .navbar-nav .nav-link{
    color: black;
    font-weight: 500;
}
a.portfolio-text:hover{
    color: #16FF00;
    font-weight: 900;
}
